napari_gui/_version.py export-subst
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
napari/resources/* !filter=lfs !diff=lfs !merge=lfs -text
docs/images/tracks_simple_demo.webm filter=lfs diff=lfs merge=lfs -text
docs/tutorials/assets/tutorials/dask1.webm filter=lfs diff=lfs merge=lfs -text
docs/images/editing_shapes.webm filter=lfs diff=lfs merge=lfs -text
docs/images/merge_labels.webm filter=lfs diff=lfs merge=lfs -text
docs/images/nD_vectors.webm filter=lfs diff=lfs merge=lfs -text
docs/images/split_label.webm filter=lfs diff=lfs merge=lfs -text
docs/guides/images/mitosis.webm filter=lfs diff=lfs merge=lfs -text
docs/images/brain_surface.webm filter=lfs diff=lfs merge=lfs -text
docs/images/draw_component.webm filter=lfs diff=lfs merge=lfs -text
docs/images/tracks_color_by.webm filter=lfs diff=lfs merge=lfs -text
docs/images/tracks_tail_length.webm filter=lfs diff=lfs merge=lfs -text
docs/images/tracks_tail_width.webm filter=lfs diff=lfs merge=lfs -text
docs/tutorials/assets/tutorials/dask2.webm filter=lfs diff=lfs merge=lfs -text
docs/images/LLSM.webm filter=lfs diff=lfs merge=lfs -text
docs/images/shape_vertex_editing.webm filter=lfs diff=lfs merge=lfs -text
docs/images/delete_label.webm filter=lfs diff=lfs merge=lfs -text
docs/tutorials/assets/tutorials/viewer_pan_zoom.webm filter=lfs diff=lfs merge=lfs -text
docs/tutorials/assets/tutorials/point_annotator_demo.webm filter=lfs diff=lfs merge=lfs -text
docs/images/editing_points.webm filter=lfs diff=lfs merge=lfs -text
docs/images/smFISH.webm filter=lfs diff=lfs merge=lfs -text
docs/images/tracks_3d_t.webm filter=lfs diff=lfs merge=lfs -text
docs/tutorials/assets/tutorials/painting.webm filter=lfs diff=lfs merge=lfs -text
docs/images/nD_shapes.webm filter=lfs diff=lfs merge=lfs -text
docs/images/pathology.webm filter=lfs diff=lfs merge=lfs -text
docs/images/shape_resizing.webm filter=lfs diff=lfs merge=lfs -text
docs/images/manual_label.webm filter=lfs diff=lfs merge=lfs -text
docs/tutorials/assets/tutorials/tracks_isbi.webm filter=lfs diff=lfs merge=lfs -text
